// Modal
.Modal {
	align-items: center;
	background-color: rgba(0,0,0,0.4);
	cursor: default;
	display: none;
	height: 100%;
	justify-content: center;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	z-index: 1100;
	width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  h1 {
    margin-bottom: 0;
  }

  h5 {
    margin-top: 5px;
  }

	&.--open {
		display: flex;
	}

	&__container {
		header {
			border-bottom: 1px solid $dark-grey;
			display: flex;
			justify-content: space-between;
			padding: 0 20px;

			.close {
				cursor: pointer;
				font-size: $font-size-base;
        font-weight: 600;
				height: 20px;
				margin: 10px 0 0;

				&:hover {
					font-weight: bold;
				}
			}
		}

		background-color: $light-grey;
		display: flex;
		flex-direction: column;
		height: 85%;
		width: 75%;

    &.--weather {
      height: 55%;
    }
	}

  &__gotoAirport {
    cursor: pointer;
  }

	&__sections {
		display: flex;
		flex-direction: row;
    height: 50%;

    &.--weather {
      height: 100%;
    }
	}

	&__section {
		border-color: $dark-grey;
		border-style: solid;
		border-width: 0 1px 1px;
		padding: 20px;
    overflow: auto;
    width: 50%;

    h2 {
      margin: 0 0 10px;
    }

		&.--departures {
			border-width: 0 1px 1px 0;
		}

		&.--arrivals {
			border-width: 0 0 1px;
		}

    &.--atc {
      flex: 1;
      overflow: auto;
      width: 100%;
    }

    &.--weather {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .icao__list {
      list-style: none;
      padding: 0;

      &__child {
        padding: 0 0 10px;
      }
    }
	}

  &__weatherIcon {
    display: flex;
    font-size: 78px;
    justify-content: center;
    margin: 30px 0;
  }

  &__weatherContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px;

    div {
      display: flex;
      width: 50%;

      &:first-child {
        font-weight: 600;
        justify-content: flex-end;
        padding: 0 10px 0 0;
      }

      &:last-child {
        justify-content: flex-start;
        padding: 0 0 0 10px;
      }
    }

    &__list {
      li {
        text-transform: capitalize;
      }
    }
  }

	&__link {
		cursor: pointer;

		&:hover {
			color: $primary-blue;
		}
	}

  .table {
    display: table;
    width: 100%;

    &__row {
      display: table-row;
    }
  
    &__header {
      background-color: transparent;
      font-weight: 600;
    }
  
    &__row {
      &:nth-child(even) {
        background-color: $dark-grey;
      }
    }
  
    &__data {
      display: table-cell;
      padding: 5px;
      white-space: nowrap;
    }

    &__columnHeader {
      cursor: pointer;
    }

    &__sortArrow {
      font-size: 16px;
      margin: 0 0 0 3px;
    }
  }
}

@include respond-to(md-max) {
  .Modal {
    &__sections {
      flex-direction: column;
      width: 100%;

      &.--weather {
        height: 100%;
      }
    }

    &__section {
      overflow: auto;
      width: auto;

      &.--departures {
  			height: 40%;
  		}

  		&.--arrivals {
        height: 40%;
  		}

      &.--atc {
        height: 20%;
      }

      &.--weather {
        height: 100%;
        width: auto;
      }
    }
  }
}

@include respond-to-height(md-max) {
  .Modal {
    .wi {
      font-size: 84px;
    }

    &__section {
      &.--weather {
        flex-direction: row;
      }
    }

    &__weatherIcon {
      padding: 0 40px 0 0;
    }

    &__weatherData {
      flex-direction: column;
      width: 100%;
    }

    &__weatherContainer {
      padding: 10px;

      &:nth-child(odd) {
        background-color: $dark-grey;
      }

      div {
        text-align: right;
        width: auto;
      }
    }
  }
}
