// Base Colours
$white: 							#ffffff;
$black:								#000000;
$red:									#ff0000;
$light-red:           #e00000;
$dark-red:						#8d0000;
$green:								#25b33f;
$grey-white:					#fdfdfd;
$dark-white:					#5e5e5e;
$light-grey:					#f1f1f2;
$dark-grey:						#bebebe;
$primary-blue:				#479ed7;
$secondary-blue:			#4cb8ff;

// Font
$font-main:						"Tahoma";

// Font Sizes
$font-size-msmall:      9px;
$font-size-small:				11px;
$font-size-base:				16px;
$font-size-xmedium:			14px;
$font-size-medium:			18px;
$font-size-large:				24px;
$font-size-header-h1:   38px;
$font-size-wi:          48px;
$font-size-wi-small:    28px;
